<!-- Spinner -->
<div class="container py-1" *ngIf="loadingWorkers">
  <div class="row">
    <div class="col">
      <mat-spinner class="mx-auto"></mat-spinner>
    </div>
  </div>
</div>

<!-- Form -->
<div class="container" *ngIf="hasResultWorkers">
  <form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()" novalidate>
    <div class="container px-3 mx-3 py-1" *ngIf="listOfClusters.length == 0">
      <div class="row">
        <p>No workers connected to this controller at the moment, so effectively there are no active attack goals</p>
      </div>
    </div>

    <div class="container px-3 mx-3" *ngIf="listOfClusters.length > 0">
      <div class="row align-items-center">
        <div class="col">
          <mat-form-field class="mat-form-field-wide">
            <mat-label>PING Flood Target IP Address</mat-label>
            <input matInput placeholder="8.8.8.8" formControlName="ping_flood_target_ip_address">
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="mat-form-field-wide">
            <mat-label>SYN Flood Target IP Address</mat-label>
            <input matInput placeholder="8.8.8.8" formControlName="syn_flood_target_ip_address">
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="mat-form-field-wide">
            <mat-label>SYN Flood Target Port</mat-label>
            <input matInput placeholder="443" formControlName="syn_flood_target_port" type="number">
          </mat-form-field>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-4">
          <mat-form-field class="mat-form-field-wide">
            <mat-label>HTTP Flood Targets URLs</mat-label>
            <textarea matInput placeholder="https://google.com{{'\n'}}https://ebay.com" formControlName="http_flood_target_urls"></textarea>
          </mat-form-field>
        </div>

        <div class="col-8">
          <div class="row align-items-center">
            <div class="col">
              <mat-form-field>
                <mat-label>Parallel Min Requests</mat-label>
                <input matInput placeholder="200" value="200" formControlName="parallel_min_requests" type="number">
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field>
                <mat-label>Parallel Max Requests</mat-label>
                <input matInput placeholder="600" value="600" formControlName="parallel_max_requests" type="number">
              </mat-form-field>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col">
              <mat-form-field>
                <mat-label>Proxy Type</mat-label>
                <mat-select formControlName="proxy_type">
                  <mat-option value="tor">TOR</mat-option>
                  <mat-option value="none">None</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field>
                <mat-label>Proxy IP Change Frequency</mat-label>
                <input matInput placeholder="10" value="10" formControlName="proxy_ip_change_frequency" type="number">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container px-3 mx-3" *ngIf="listOfClusters.length > 0">
      <div class="row align-items-center">
        <div class="col-2">
          <button mat-raised-button color="primary" class="mx-auto">Launch Attack</button>
        </div>

        <div class="col-4" *ngIf="hasErrorAttackStart">
          <span class="alert alert-danger">Failed to launch attack!</span>
        </div>

        <div class="col-4" *ngIf="hasResultAttackStart">
          <span class="alert alert-success">Launched new attack!</span>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Error -->
<div class="container py-1" *ngIf="hasErrorWorkers">
  <div class="row px-1 mx-1 py-1 alert alert-danger align-items-center">
    <div class="col">
      <h4>Ooops...</h4>
      <p>Something went wrong, and we couldn't fetch active workers, try refreshing the page or restarting controller</p>
    </div>
    <div class="col-2">
      <mat-icon class="error-icon">warning_amber</mat-icon>
    </div>
  </div>
</div>
